.container{
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
}
.nav a:hover{
	font-size: 20px;
}
.nav{
	font-size: 18px;
	background-color:#e6ae75;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-seri;
	width: 100%;
	position: relative;
}

.nav img{
	height: 50px;
	width: auto;
}

#link{
    vertical-align: text-bottom;
    line-height: 75px;
}
#cAccountTitle{
	margin-bottom: 25px;

}

.controls{
	padding-bottom: 50px;
}

.nav a, a:visited, a:active{
	color: black;
}
body{
	background-color:#f0eae4;
}
.content{
	background-color: #f0eae4;
  	padding: 40px;
	width: 100%;
	min-width: 300px;
	color: black;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.contentMenu{
	background-color: #f0eae4;
  	padding: 40px;
	width: 70%;
	min-width: 300px;
	color: black;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}
#cAccountButton{
	width:99.7%;
}

#fname{
	width:49.7%;
	margin-bottom: 25px;
}
#lname{
	width: 49.7%;
	margin-bottom: 25px;
}
#email{
	width:99.8%;
	margin-bottom: 25px;
}
#password{
	width: 49.7%;
	margin-bottom: 25px;
}
#cPassword{
	width:49.7%;
	margin-bottom: 25px;
}
#address{
	width:99.8%;
	margin-bottom: 25px;
}
#apt{
	width:99.8%;
	margin-bottom: 25px;
}
#city{
	width:33%;
	margin-bottom: 25px;
}
#state{
	width:33%;
	padding-bottom:12px;
	padding-top: 14px;
	margin-bottom: 25px;
	border-radius: 25px;
	background-color: #e6ae75;
}
#zip{
	width:33%;
	margin-bottom: 25px;
}

@media only screen and (max-width: 100px){
	.content{
		width: 60%;
	}

}

input{
	font-size: 17px;
	font-family: Raleway;
	border: 1px solid #f0eae4;
	padding: 10px;
	border-radius: 25px;
	background-color:#e6ae75;
}

.delivery{
	height: auto;
	width: 40%;
}
.delivery :hover{
	opacity: .5;
}
.pickup{
	height :auto;
	width: 40%;
}

#logEaddr{
	margin-top: 40px;
	width: 70%;
	margin-bottom: 25px;
}
#logPass{
	width: 70%;
	margin-bottom: 25px;
}
#logSubmit{
	width: 70%;
	margin-bottom: 25px;
}

#checkmark{
	height: 50%;
	width: auto;
}

div.menuItem
{
	border: 2px solid #e6ae75;
	border-radius: 25px;
	padding: 20px;
	margin-bottom: 25px;
	height: 150px;
	width: 100%;
}

.menuItem #column{
	float: left;
	text-align: center;
	margin: 0 auto;
	width: 33.3%;
}
.menuItem #column img{
	border-radius: 15px;
	border: 1px solid #f0eae4;
}
.menuItem a,a:link,a:active{
	color: black;
}
.menuItem a:hover{
	color: #e6ae75;
}





