.container{
	display: flex;
}
.nav a:hover{
	font-size: 20px;
}
.nav{
	font-size: 18px;
	background-color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-seri;
    justify-content: space-evenly;
	width: 100%;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-image: linear-gradient(to bottom, rgb(184, 184, 184) 0%, rgb(202, 202, 202) 12%, rgb(224, 223, 223) 47%, rgb(255, 255, 255) 100%);
	position: relative;
}

#link{
    vertical-align: text-bottom;
    line-height: 100px;
}

.controls{
	padding-bottom: 50px;
}

.nav a, a:visited, a:active{
	color: black;
}
body{
	background-color:white;
}             